/* 
*Стили компонента IGItem 
*/

.ImageGalleryItem {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(40, 40, 40, 0.2),
    0px 1px 1px 0px rgba(40, 40, 40, 0.14),
    0px 2px 1px -1px rgba(40, 40, 40, 0.12);
}

.ImageGI {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGI:hover {
  transform: scale(1.03);
  cursor: zoom-in;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
